body{
    background-image: url("./assets/pokemon-bg.jpg");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    margin: 0;
}
main{
    background-image: url("./assets/pokeball.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 600px;
    display: flex;
   flex-direction: row;
   border: 10px gray solid;
   border-radius: 10px;
   overflow: hidden;
}
.pokemonListEntry{
    background-color: white;
    width: 80%;
    padding: 10px;
    margin:2px;
    border-radius: 10px;
    text-align: center;
    border:1px solid black;
    
}
figure{
    width: 50%;
    margin: 0px;;
}
#pokemonList{
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    

}
#selectedPokemonImg{
    background-color: white;
    width: 80%;
    height: 30%;
    border-radius: 20px; 
    border:1px solid black;

}
#pokemonType{
width: 15%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap:10px;
}
#pokemonType >*{
padding: 10px;
border-radius: 20px;

}
#pokemonDescription{
    background-color: white;
    width: 80%;
    height: 20%;
    border-radius: 20px 0px 0px 20px; 
    border:1px solid black;
    overflow-y: scroll;
    padding: 10px;

}

figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    position: relative;
    
}
#spinningWheele{
position: absolute;
width: 100%;
animation: 2s infinite normal spin;
}
.hide{
    display: none;
}
@keyframes spin{
    0%{
transform: rotate(0);
    }
   
    100%{
transform: rotate(360deg);
    }
}

/*
taken from https://github.com/ImKennyYip/Pokedex/blob/master/pokedex.css
*/
.normal {
    background-color: beige;
    color: black;
}

.fire {
    background-color: orange;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

.water {
    background-color: blue;
    color: white;
}

.ice {
    background-color: lightblue;
    color: black;
}

.electric {
    background-color: gold;
    color: black;
}

.fighting {
    background-color: darkred;
    color: white;
}

.flying {
    background-color: skyblue;
    color: black;
}

.bug {
    background-color: yellowgreen;
    color: white;
}

.ghost {
    background-color: purple;
    color: white;
}

.rock {
    background-color: sienna;
    color: white;
}

.ground {
    background-color: burlywood;
    color: black;
}

.steel {
    background-color: silver;
    color: black;
}

.dark {
    background-color: darkgray;
    color: white;
}

.psychic {
    background-color: palevioletred;
    color: white;
}

.fairy {
    background-color: pink;
    color: black;
}

.dragon {
    background-color: teal;
    color: white;
}

.poison {
    background-color: darkviolet;
    color: white;
}