body{
    background-image: url("./assets/pokemon-bg.jpg");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-image: url("./assets/pokeball.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 600px;
    display: flex;
   flex-direction: row;
}
.pokemonListEntry{
    background-color: white;
    width: 80%;
    padding: 10px;
    margin:2px;
    border-radius: 10px;
    text-align: center;
    border:1px solid black;
    
}
figure{
    width: 50%;
    margin: 0px;;
}
#pokemonList{
    width: 50%;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#selectedPokemonImg{
    background-color: white;
    width: 80%;
    height: 30%;
    border-radius: 20px; 
    border:1px solid black;

}
#pokemonType{
width: 15%;
}
#pokemonDescription{
    background-color: white;
    width: 80%;
    height: 20%;
    border-radius: 20px; 
    border:1px solid black;
    overflow-y: scroll;
    padding: 10px;

}

figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}